@font-face {
	font-family: 'iconfont'; /* Project id 4862554 */
	src: url('//at.alicdn.com/t/c/font_4862554_8up8kz9grfd.woff2?t=1742329134737') format('woff2'),
		url('//at.alicdn.com/t/c/font_4862554_8up8kz9grfd.woff?t=1742329134737') format('woff'),
		url('//at.alicdn.com/t/c/font_4862554_8up8kz9grfd.ttf?t=1742329134737') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-line-right:before {
	content: '\e68a';
}

.icon-Gc_131_line-Talk:before {
	content: '\e604';
}

.icon-Gc_25_line-Person:before {
	content: '\e606';
}

.icon-Gc_42_line-Group:before {
	content: '\e607';
}

.icon-Gc_68_line-Folder:before {
	content: '\e608';
}

.icon-Gc_131_line-Talk-copy:before {
	content: '\e609';
}

.icon-Gc_25_line-Person-copy:before {
	content: '\e60a';
}

.icon-Gc_42_line-Group-copy:before {
	content: '\e60b';
}

.icon-Gc_68_line-Folder-copy:before {
	content: '\e60c';
}
